<form id="login">
  <div class="auth__panel">
    <div class="auth">
      <div class="auth__title">
        Вход
      </div>
      <div class="divider"></div>
      <div class="auth__content">
        <label class="input__label" for='login'>
          Логин
        </label>
        <div class='input-field'>
          <input name='login' class='input-field__input' id='login' />
        </div>
        <div class="divider_xs"></div>

        <label class="input__label" for='password'>
          Пароль
        </label>
        <div class='input-field'>
          <input name='password' type="password" class='input-field__input' id='password' />
        </div>
      </div>
    </div>

    <div class="divider"></div>
    <div class="button__panel">
      <button class="button button_fullWidth fullWidth">
        Авторизоваться
      </button>
      <div class="divider_xs"></div>
      <button class="button button_fullWidth button_primary_flat">
        Нет аккаунта?
      </button>
    </div>
  </div>
</form>
